/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a 
{
    display:block;margin:0px;padding:0px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size:16px;
    overflow-x:hidden;
    
}
.services:hover .mega-menu {
    display: block;
}

.mega-menu {
  
    position: absolute;display:none;
    top: 100%;
    left:0px;
    background-color: #f9f9f9;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mega-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;flex-direction: column;
}

.mega-menu li {
    margin-bottom: 10px;
}

.mega-menu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 5px 0;
    display: block;
}

/* Hover Effect on Mega Menu */
.mega-menu a:hover {
    color: #007BFF;
}
.services:hover .mega-menu {display:block}
.navigation li:hover .mega-menu {
    display: block;
}
/*reset css*/

.dis-flex{ display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.align-center{ align-items: center; }
.row-reverse{ flex-direction: row-reverse; }
.col-reverse{ flex-direction: column-reverse; }
.justify-center { justify-content: center; }
.justify-left { justify-content: left; }
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

/*contanier css here*/
.container { max-width: 1400px; width: 100%; margin: auto; padding: 0 20px; }
/*header  css here*/
body.rtl header.header {flex-direction: row-reverse;}
body.rtl header.header img {flex-direction: row-reverse; margin-right: 0px;max-width:100px;width:100%;}
body.rtl header.header {
    flex-direction: row-reverse;
    justify-content: unset;
}
body.rtl nav.navigation {
    justify-content: flex-end;
}
body .rtl .button#swap-btn {
    margin-left: 10px;
}
body .rtl .navigation{
    flex-direction: row-reverse;
    text-align: right;
    align-items: right;
}
body.rtl header.header {
    flex-direction: row-reverse;
    justify-content: unset;
}


body.rtl nav.navigation {
    justify-content: flex-end;
}

.header nav.navigation ul li a { text-decoration: none; }

.header .languages button { padding: 7px; border-radius: 9px; border: none;text-transform:uppercase;}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and navigation */
    padding: 5px 3px; 
    background: rgba(225, 225, 225, 0.711); /* Keep it semi-transparent */
    z-index: 1000;
    height: 60px; /* Set a fixed height for the header */
}

.header img {
   
    margin-right: 10px;
    max-width:100px;width:100%;
}

.navigation {
    display: flex; /* Use flexbox for navigation */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
}

.navigation ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Aligns list items in a row */
    margin-left: 40px;
}

.navigation li {
    margin-right: 20px; /* Space between list items */
    position: relative;
}

.navigation li a {
    color: rgb(31, 5, 151);
    font-weight: 600;
}

.header .languages button {padding: 7px;border-radius: 3px;border: none;background-color:#246CDE;font-size:12px;margin-right: 10px;color:#ffffff;}
      
.header nav.navigation ul li a { text-decoration: none; }
.humbergur-link { display: none; }

/* About Us Section */
body.rtl .about-us {
    flex-direction: row-reverse;
}
.about-us {
    padding: 100px 20px;
    padding-bottom : 225px;
    background-color: #f4f4f4; /* Light background for contrast */
    text-align: center; /* Centering text */
}

.about-us-content h1 {
    font-size: 2.5em; /* Large font size for the heading */
    margin-bottom: 20px; /* Space below the heading */
    color: #333; /* Dark color for the heading */
}

.about-us-content p {
    font-size: 1.2em; /* Slightly larger font for paragraphs */
    margin: 10px 0; /* Space above and below paragraphs */
    color: #555; /* Medium gray color for text */
}

/* Optional: Add a hover effect for paragraphs */
.about-us-content p:hover {
    color: #007BFF; /* Change color on hover */
    transition: color 0.3s ease; /* Smooth transition */
}
/* Carousel Section */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Carousel Slides */
.carousel-container {
    display: flex;
    transition: transform 0.5s ease;

}

.carousel-slide {
    min-width: 200px; /* Width of each slide */
    height: 200px; /* Height of each slide */
    margin: 0px; /* Space between slides */
    box-sizing: border-box;
}

/* Image Style */
.carousel-slide img {
    width: 100%;   
    height:99vh;
    object-fit: cover; /* Ensure image covers the box */
}




/* Services Section Styles */

body.rtl .services-container {
    flex-direction: row-reverse;
    text-align: right;
}

.services-section {
  
    background-color: white;
}

.services-container {
    display: flex;
    width: 100%;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.services-left {
    width: 30%; 
}

.services-left h2 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 15px;
}

.services-left p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}

.services-right {
    width: 70%;margin: 0px -10px;
  }

  .services-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}


.service-box {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    transform: translateY(0px);
    max-width: 300px;
    height: 250px;width: calc(25% - 20px);
    margin: 0px 10px 10px;
}

.service-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: -1;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}

.service-box h3 {
    margin: 0 auto;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Packages Section Layout */
body.rtl .packages h3 {
    flex-direction: row-reverse;
    text-align: right;
}

.packages {
    padding:30px 0px;
    background: white;
}

.packages h2 { color: #000000; font-weight: 700; font-size: 38px; line-height: 52px; } 

.packages h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.package-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-align: center;
    width: calc(100% / 4 - 20px);  
    margin: 0px 10px;
}

.package-item.p1.visible {
    background: radial-gradient(circle, rgba(242,135,135,1) 0%, rgba(207,88,47,1) 100%);
}
.package-item.p2.visible {
    background: radial-gradient(circle, rgba(109,109,109,1) 0%, rgba(198,198,198,1) 100%);
}
.package-item.p3.visible {
    background: radial-gradient(circle, rgba(250,214,95,1) 0%, rgba(255,158,93,1) 100%);;
}
.package-item.p4.visible {
    background: radial-gradient(circle, rgba(185,85,199,1) 0%, rgba(131,93,255,1) 100%);;
}


.package-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}

.package-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.package-item h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #000000;
}

.package-item p {
    flex-grow: 1;
    margin-bottom: 20px;
    color: #000000;
}

.package-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.package-item .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.package-item .btn:hover {
    background-color: #2980b9;
}


.packing-wrap {
    margin: 0px 35px;
    padding-top:20px;
}




/* Marketing Banner Section */

/* Container for the entire creative carousel section */
body.rtl .creative-carousel {
    flex-direction: row-reverse;
    text-align: right;
}

#CreativeWorks {
    background: white;
    position: relative; /* Add relative positioning to the container */
    padding: 50px 0px;
}

#CreativeWorks h2 {
    color: rgb(0, 0, 0);
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Set font size for heading */
    padding-left: 20px; /* Add left padding */
    font-size: 2.5rem;
    text-align: center;
}

#CreativeWorks p {
    margin: 10px 0 0; /* Add margin above the paragraph */
    font-size: 21px; /* Set font size for paragraph */
    padding-left: 20px; /* Add left padding */
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* Carousel Container */
.creative-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 20px; /* Add padding to both sides */
}

/* Carousel Slides */
.creative-carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.creative-carousel-slide {
    min-width: 200px; /* Width of each slide */
    height: 200px; /* Height of each slide */
    margin: 10px; /* Space between slides */
    box-sizing: border-box;
}

/* Image Style */
.creative-carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image covers the box */
}

/* Active Slide */
.active {
    opacity: 1;
}


/* General Styles for the Clients Section */
body.rtl .clients {
    flex-direction: row-reverse;
}
.clients {
    background: white;

    padding: 40px 20px; /* Padding around the section */
    text-align: center; /* Center-align text */
}

/* Paragraph Styles */
.clients p {
    font-size: 1.2em; /* Font size for the paragraph */
    color: #000000; /* Lighter text color */
    margin-bottom: 30px; /* Space below the paragraph */
    text-align: center;
}

.clients h2 {
    color : rgb(0, 0, 0);
}

/* Button Styles */
/* .learn-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

/* .learn-more:hover {
    background-color: #0056b3;
} */

/* Clients Logos Styles */
.client-logo-container {
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center the text under the image */
    margin: 10px; /* Adds some space between each client logo */
    width: 100%; /* Adjust this as needed */
}

.client-logo {
    align-items: center;
    height: 250px; /* Set a fixed height in pixels */
    width: 250px; /* Set a fixed width in pixels */
    height: auto; /* Maintains the aspect ratio of the image */
    margin: 0 auto;
    
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.clients .slick-slide > img
{    border-radius: 10px;}
.clients .slick-next {
    right: 3px !important;
}
.clients .slick-prev {
    right: 7px !important;
}
.slick-prev {
    left:0 !important;
}
.slick-next {
    right:0 !important;
}

.client-logo-container p {
    align-items: center;
    margin-top: 5px; /* Space between logo and text */
    color: #000000; /* Change color as needed */
    font-size: 1em; /* Adjust font size as needed */
}
.container { max-width: 1270px; width: 100%; margin: auto; padding: 0 20px; }


/* Contact Section */
.contact {
    width: 100%;
    background-color: #ffffff;
    padding: 60px 0;
}

.contact-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Contact Info Section */
body.rtl .contact-form input,
.contact-form textarea,
.contact-form button {
    flex-direction: row-reverse;
    text-align: right;
}
body.rtl .contact-form textarea{
    text-align: right;
    flex-direction:row-reverse;
}
.contact {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.new-form {
    width: 100%;
}

.contact-form {
    width: 70%;
    margin: 0 auto;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.contact-form h2,
.contact-form h3 {
    text-align: center;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.contact-form textarea{
    text-align: left;
}

.contact-form button {
    background-color: #0E91D0;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-section {
    margin-top: 30px;
}

.contact-info {
    background-color: transparent;
    text-align: left;
    padding-left: 20px;
}

.phone-number,
.email-id {
    display: flex;
    padding-left: 10px;
    color: #000000;    box-shadow: 6px 6px 5px #CCC;width:23%;
    align-items: center;
}

.phone-number i,
.email-id i {
    padding-left: 10px;
    color: #000000;
}

.email-id a{
    padding-left: 10px;
    color: #000000;
    text-decoration: none;
}

.phone-number a{
   padding-left: 5px; 
}

/* footer*/
/* General Footer Styles */
body.rtl .footer {
    flex-direction: row-reverse;
}
body.rtl .footer-social {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
}
.footer {
    /* Remove the fixed positioning */
    position: relative; /* or you can omit this line */
    width: 100%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 47%, rgba(9,9,121,1) 100%);
    background-size: cover;
    background-position: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Footer Content */
.footer-content {
    max-width: 1200px;
    width: 100%;
}

/* Footer Heading */
.footer-content h2 {
    margin: 0;
    font-size: 24px;
}

/* Get in Touch Button */
.get-in-touch {
    background-color: #0E91D0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;

}

.get-in-touch:hover {
    background-color: #A0D6E6;
}

/* Footer Links */
.footer-links {
    display: inline-block;
    margin: 10px 0; /* Adjusted margin for spacing below the button */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Copyright */
.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
}

/* Footer Social Links */
.footer-social {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-social span {
    margin-right: 10px;
}

.footer-social a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #f0f0f0; /* Change color on hover */
}

.footer-social .social-icon img {
    width: 24px;  /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

.footer-social .social-icon {
    margin: 0 5px; /* Adds some spacing between icons */
}


/*marketing strategy page css here*/
.marketing-wrap { margin-top: 68px; }


/*get-in-touch-page-css*/
.contact-us-container {
    display: flex; /* Use Flexbox for layout */
    width: 100%; /* Full width of the section */
    padding: 75px 75px;
}
.info-item {
    height: 100%; /* Ensure the container takes full height */
}

.info-item iframe {
    width: 100%; /* Make the iframe take full width */
    height: 90%; /* Make the iframe take full height */
}

.contact-us-row {
    display: flex; /* Use Flexbox for the row */
    width: 100%; /* Full width */
}

.contact-us-left,
.contact-us-right {
    flex: 1; /* Each side takes equal space */
    max-width: 50%; /* Limit each side to 50% of the container */
    box-sizing: border-box; /* Include padding in width calculation */
}

.contact-us-container .contact-form {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.contact-us-left h2 {
    padding-left: 20px;
}
.contact-us-right h2, .contact-us-right h3 {
    padding-left: 20px;
}

@media (min-width:1200px) and (max-width:1400px) { .container { max-width:1200px; } }
@media (min-width:992px) and (max-width:1199px) { .container { max-width:960px; } }
@media (min-width:768px) and (max-width:991px) { .container { max-width:720px; } }
@media (max-width:767px) { .container { max-width:100%; } }


@media(max-width:1024px)
{
    /*    our packages section css here*/

.package-item {
    width: calc(50% - 20px);
    margin: 10px;
}



/*header css here*/

.humbergur-link { display: block; } ul {display: none;}
.nav.navigation ul {display: none;}


}
@media(max-width: 992px) {
    .services-left {
        width: 100%;
        
    }

    .services-right {
        width: 100%;margin: 0px;
      
    }


    nav.navigation {
    display: none;
}   

body.new-class nav.navigation {
    display: block;
} 

.package-item {
    width:100%;
    margin: 10px;
}

    body.rtl .language-wrap .languages button#swap-btn {
    margin-left: 10px;
}

.contact-wrap {
    flex-direction: column;
}

.phone-number {
    width: 61%;
    margin-bottom: 9px;
}
.phone-number, .email-id{width:61%;margin-top:10px;}
section.contact-section-2 .container{padding:0px 6px;}
body.rtl header.header img {margin-right:0px;
}
            
            body.rtl .language-wrap{left:11%;flex-direction:row-reverse;}
       header.header{padding:0px;}     
    body.new-class header.header .navigation ul {
        flex-direction: column;
            background: rgba(225, 225, 225, 0.711);
            padding: 0;
            margin: 0px;
    }
    
  
    
    body.new-class header.header
    
    {
           flex-direction: column; position: relative;
    }
    
    
    .services-grid {
    justify-content: center;
}
    
    .language-wrap {
       display: flex ; position: absolute; right: 2%; top: 32%;
    }
    
        body.new-class nav.navigation {width:100%;
    }
    header.header .logo
    {
        width:100%;
    }
   
    
    /*.header nav.navigation ul li a {margin-left:10px;}*/
    
    .header nav.navigation ul li  {margin-left:10px;font-size: 12px;border-bottom: 1px solid #ffffff;line-height: 15px;margin-bottom: 10px;padding: 0px;margin: 0px;padding: 10px 0px;} 
    .header nav.navigation ul li a {margin-left:10px;}

.carousel-slide img
{
    height:600px !important;object-fit:cover;
}

.service-wrap.dis-flex.align-center {
    text-align: center;
}
    .package-item {width:80%;}
.packing-wrap.dis-flex {
    justify-content: center;
}
      .carousel img.mobile { display: block; }
        .carousel img.desktop { display: none; }
        
            /*get in touch page*/
        .contact-us-container {
            display: flex;
            width: 100%;
            padding : 5px;
            margin-top: 50px;
        }
        .contact-us-row {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        .contact-us-left, .contact-us-right {
            flex: 1;
            max-width: 100%;
            box-sizing: border-box;
        }
        .contact-us-left h2 {
            padding-left: 20px;
            text-align: center;
        }
        .info-item iframe {
            width: 100%;
            height: 90%;
            padding: 25px;
        }
        .contact-us-left, .contact-us-right {
            flex: 1;
            max-width: 100%;
            box-sizing: border-box;
            padding: 1px;
        }
        .contact-us-left h2 {
            text-align: center;
        }
        .contact-us-right h2, .contact-us-right h3 {
            padding-top: 10px;
            text-align: center;
        }

}


@media(max-width: 767px) {
    .service-box {
    width: 80%;max-width: 100%;margin: 10px 0px;

    header.header .logo img {
    max-width: 100px;
    }
}


.services-left h2 {
    margin-bottom: 10px;font-size: 20px;

}


header.header .logo img {
    min-width: 100px;
}

.contact-form
{
    width: 100%;
}

}

@media(max-width:1024px)

{
    .package-item {width: 100%;}
    .packages h2{font-size: 27px;}


}